@model IEnumerable<Bilim.DbFolder.Category>
@{
    ViewData["Title"] = "FreeVideoList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<link href="~/css/kursList.css" rel="stylesheet">

<div class="content">
    <div id="courses" class="courses">
        <a class="all-course-btn" href="/Admin/FreeVideoAdd">Категория қосу</a>
        <h2>Категории</h2>
        <div class="course-items">
            @foreach (var c in Model)
            {
                <div class="course-item">
                    <div class="course-text">
                        <h2>@c.Name</h2>
                    </div>
                </div>
            }

        </div>
    </div>
</div>