@model Bilim.DbFolder.Kurs
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "KursCreate";
}

<link href="~/css/kursCreate.css" rel="stylesheet">

<div class="content">
    <form asp-action="KursCreate" class="create" enctype="multipart/form-data">
        <div class="form-blocks">
            <div class="form-block">
                <label for="kursname">Курс аты:</label>
                <input asp-for="Name" id="kursname" type="text" required>

                <label for="price">Курс бағасы:</label>
                <input asp-for="Price" id="price" type="number" required>

                <label for="kurs-info">Курс туралы қысқаша:</label>
                <textarea asp-for="Info" id="kurs-info" rows="2" required></textarea>

                <label for="avtor">Курс авторы:</label>
                <input asp-for="AvtorName" id="avtor" type="text" required>

                <label for="avtor-info">Автор туралы инфо:</label>
                <textarea asp-for="AvtorInfo" id="avtor-info" rows="8" required></textarea>
            </div>
            <div class="form-block">
                <label for="kurs-info">Курс кімдерге арналады:</label>
                <textarea asp-for="Kimge1" id="kimge1" rows="2" required></textarea>
                <textarea asp-for="Kimge2" id="kimge2" rows="2" required></textarea>
                <textarea asp-for="Kimge3" id="kimge3" rows="2"></textarea>
                <textarea asp-for="Kimge4" id="kimge4" rows="2"></textarea>
                <textarea asp-for="Kimge5" id="kimge5" rows="2"></textarea>

                <label for="kurs-info">Курста не үйренеді:</label>
                <textarea asp-for="What1" id="what1" rows="2" required></textarea>
                <textarea asp-for="What2" id="what2" rows="2" required></textarea>
                <textarea asp-for="What3" id="what3" rows="2" required></textarea>
            </div>
            <div class="form-block">
                <label for="photo">Курс фоны(фото, jpg, png => 350 x 230):</label>
                <input id="photo" onchange="readURL1(this);" name="files" type="file" required accept="jpg/png">
                <div class="img-block">
                    <img id="kursFon" src="">
                </div>
                <br />

                <label for="photo">Курс баннері(фото, jpg, png => 350 x 230):</label>
                <input id="photo" onchange="readURL2(this);" name="files" type="file" required accept="jpg/png">
                <div class="img-block">
                    <img id="kursBanner" src="">
                </div>
                <br />

                <label for="photo">Автор суреті(фото, jpg, png => 350 x 230):</label>
                <input id="photo" onchange="readURL3(this);" name="files" type="file" required accept="jpg/png">
                <div class="img-block">
                    <img id="avtorImg" src="">
                </div>
            </div>
        </div>
        <button type="submit">Сақтау</button>
    </form>
</div>

<script type="text/javascript">
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#kursFon')
                    .attr('src', e.target.result)
                    .width('300px')
                    .height('200px');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#kursBanner')
                    .attr('src', e.target.result)
                    .width('300px')
                    .height('200px');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#avtorImg')
                    .attr('src', e.target.result)
                    .width('300px')
                    .height('200px');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

