@import url('const.css');

/* ----------------CONTENT------------------ */

.main{
   width: 100%;
   height: 740px;
   /* background-color: var(--pink-color); */
   background-color: var(--white-color);
   /* display: flex;
   align-items: center;
   justify-content: space-between; */
   position: relative;
   padding: 0;
}
.main-text{
   width: 50%;
   height: 100%;
   position: relative;
   z-index: 2;
}
.main-bg{
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: 1;
   /* background-position: 150% 0; */
   background-position: 40vw 0;
   background-repeat: no-repeat;
}
.main-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}
.main-text > h1{
   font-size: 120px;
   letter-spacing: 5px;
   line-height: 90px;
   font-weight: normal;
   margin-bottom: 30px;
}
.main-text > p{
   letter-spacing: 1px;
   margin-bottom: 40px;
}
.main-text > span{
   font-size: 15px;
   letter-spacing: 2px;
   background-color: var(--main-color);
   color: var(--white-color);
   padding: 20px 60px;
   border-radius: 40px;
   box-shadow: 0 0 10px var(--main-color);
   transition: 0.3s;
}
.main-text > a:hover{
   background-color: var(--brown-color);
   box-shadow: 0 0 10px var(--brown-color);
}
/* ----------------------- */
.about{
   width: 100%;
   height: 100vh;
   background-color: var(--white-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.about-bg{
   width: 100%;
   height: 130%;
   position: absolute;
   top: -15%;
   left: 0;
   background-image: url(../img/main-bottom.svg);
   background-repeat: no-repeat;
   /* background-size: cover; */
   z-index: 1;
}
.about > *{
   z-index: 2;
}
.about-text{
   width: 50%;
}
.about-img{
   width: 40%;
}
.about-text > h2{
   width: 400px;
   height: 100px;
   background-image: url(../img/logo.png);
   background-size: contain;
   background-repeat: no-repeat;
   margin-bottom: 15px;
}
.about-text > p{
   font-weight: lighter;
   line-height: 24px;
   color: var(--brown-color);
}
.about-img > img{ 
   width: 100%;
}
/* --------------------––––––––––– */
.about-bottom{
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: var(--white-color);
   display: flex;
   flex-direction: column;
}
.about-bottom *{
   color: var(--main-color);
}
.why{
   font-size: 14px;
   letter-spacing: 1px;
   color: var(--brown-color);
}
.about-bottom > h2{
   font-size: 32px;
   font-weight: normal;
   margin-top: 30px;
   margin-bottom: 40px;
}
.about-bottom > h2 span{
   font: normal 36px serif;
   margin-right: 5px;
   letter-spacing: 1px;
}
.about-list-block{
   display: flex;
   justify-content: space-between;
}
.about-list-block > *{
   width: 45%;
}
.about-list > div{
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
.about-list img{
   width: 60px;
   margin-right: 50px;
   filter: invert(1);
}
.about-list span{
   font-size: 14px;
   letter-spacing: 1px;
}







/* ––––––––––––––– SCHOOL –––––––––––––– */
.school{
   width: 100%;
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: #fff;
   position: relative;
}
.school-bg{
   width: 100%;
   height: 100%;
   position: absolute;
   top: -7%;
   left: 0;
   background-image: url(../img/about-svg.svg);
   /* background-size: cover; */
   background-repeat: no-repeat;
   z-index: 2;
}
.school-block{
   width: 100%;
   display: flex;
   justify-content: center;
   position: relative;
   z-index: 3;
}
.school-img{
   width: 35%;
   margin-right: 30px;
}
.school-img > img{
   width: 100%;
}
.school-text{
   width: 50%;
   padding-top: 100px;
   padding-left: 100px;
   position: relative;
}
.school-text > span{
   position: absolute;
   top: 0;
   left: 0;
   font-size: 150px;
   color: var(--brown-color);
   transform: rotateZ(180deg);
   letter-spacing: -10px;
}
.school-text > p{
   width: 70%;
   font-size: 16px;
   color: var(--brown-color);
   letter-spacing: 1px;
   margin-bottom: 40px;
}/* -------- */
.school-bottom{
   width: 100%;
   padding: 40px;
   padding-right: 0;
   margin-top: -30px;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   border-radius: 3px;
   overflow: hidden;
   box-shadow: 0 5px 15px #ccc;
   position: relative;
   z-index: 5;
}
.bottom-block{
   /* width: 25%; */
   margin-right: 30px;
   padding: 25px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
}
.circle{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: var(--pink-color);
   /* position: relative; */
   margin-bottom: 15px;
}
.circle-number{
   position: absolute;
   top: 30px;
   left: 35px;
   font-size: 26px;
   letter-spacing: 1px;
}
.bottom-block > p{
   font-size: 13px;
   letter-spacing: 1px;
}





/* –––––––––––––––COURSES–––––––––––––– */
.courses{
   width: 100%;
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: var(--pink-color);
}
.courses > h2{
   font-size: 50px;
   font-weight: normal;
   text-align: center;
   letter-spacing: 3px;
   margin-bottom: 40px;
   text-shadow: 0 0 10px var(--grey-color);
}
.course-items{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   /* outline: 1px solid; */
}
.course-item{
   width: 31%;
   box-shadow: 0 0 20px var(--grey-color);
   border-radius: 3px;
   overflow: hidden;
}
.course-item:hover > .course-img > img{
   transform: scale(1.05);
}
.course-item:nth-child(3n+2){
   margin: 0 3.5%;
}
.course-img{
   width: 100%;
   height: 240px;
   overflow: hidden;
}
.course-img > img{
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   transition: 0.5s;
}
.course-text{
   width: 100%;
   padding: 25px;
   background-color: var(--white-color);
   /* background-color: #fff; */
   display: flex;
   flex-direction: column;
}
.course-text > *{
   margin-bottom: 10px;
}
.course-text > h2{
   display: flex;
   align-items: center;
   font-weight: normal;
   height: 64px;
   line-height: 30px;
   font-size: 28px;
}
.course-text > p{
   font-weight: bold;
   color: var(--grey-color);
}
.course-text > p > i{
   font-size: 20px;
   color: var(--grey-color);
   margin-right: 10px;
}
.course-text > span{
   color: var(--grey-color);
}
.course-text > a{
   padding: 15px;
   background-color: var(--brown-color);
   color: var(--white-color);
   text-decoration: none;
   text-align: center;
   margin: 10px 0;
   margin-bottom: 0;
   border: 1px solid var(--brown-color);
   border-radius: 3px;
   transition: 0.3s;
}
.course-text > a:hover{
   background-color: var(--white-color);
   color: var(--brown-color);
}


@media  (max-width: 1024px){
   .main{
      height: 670px;
      align-items: start;
   }
   .main-bg {
      background-position: 25vw 0;
   }
   .main-text{
      justify-content: start;
   }
   .main-text > h1{
      font-size: 90px;
      line-height: 70px;
   }
   .main-text > p{
      font-size: 15px;
   }
   .about-text > h2{
      height: 75px;
   }
   .about-left > h2, .about-right > h2{
      font-size: 75px;
   }
   .school-block{
      justify-content: space-around;
   }
   .school-img{
      margin: 0;
   }
   .school-text{
      padding-top: 70px;
      padding-left: 70px;
   }
   .school-text > span{
      font-size: 125px;
   }
   .school-bottom{
      padding: 25px;
   }
   .bottom-block{
      margin-right: 20px;
   }


   .courses > h2{
      font-size: 46px;
   }
   .course-img{
      height: 180px;
   }
   .course-text{
      padding: 20px;
   }
   .course-text > *{
      font-size: 14px;
   }
   .course-text > h2{
      font-size: 22px;
      height: 52px;
      line-height: 26px;
   }
}
@media  (max-width: 768px){
   /* *{
      font-size: 13px;
   } */
   .main, .about{
      height: 530px;
   }
   .main-bg {
      background-size: cover;
      background-position: 25vw -10%;
   }
   .main-text{
      width: 40%;
      justify-content: start;
   }
   .main-text > h1{
      font-size: 60px;
      line-height: 45px;
   }
   .main-text > p{
      font-size: 14px;
      margin-bottom: 30px;
   }
   .main-text > span{
      font-size: 13px;
      letter-spacing: 1px;
      padding: 15px 40px;
   }
   .about-text > h2 {
      width: 100%;
      height: 60px;
   }
   .about-text > p{
      font-size: 14px;
      line-height: 22px;
   }
   .about-left > h2, .about-right > h2{
      font-size: 55px;
   }
   .about-center > span{
      font-size: 20px;
   }
   .about-left > p, .about-center, .about-right > p{
      font-size: 14px;
   }
   .about-bottom{
   }
   .about-bottom > h2{
      font-size: 24px;
   }
   .about-bottom > h2 span{
      font-size: 28px;
   }
   .about-list-block{
      flex-direction: column;
   }
   .about-list-block > *{
      width: 100%;
   }
   .about-list span{
      width: 80%;
   }
   .about-list span > br{
      display: none;
   }

   .school-img{
      width: 40%;
   }
   .school-text{
      padding-top: 60px;
      padding-left: 60px;
   }
   .school-text > p {
      width: 100%;
      margin-bottom: 25px;
      font-size: 13px;
   }
   .school-text > span{
      font-size: 90px;
      letter-spacing: -5px;
   }
   .school-bottom{
      padding: 15px;
      flex-wrap: wrap;
   }
   .bottom-block{
      width: 50%;
      margin: 0;
      padding: 20px;
   }
   .bottom-block > p{
      font-size: 12px;
   }
   .circle{
      margin-bottom: 10px;
   }
   .circle-number{
      top: 27px;
      left: 32px;
   }


   .courses{
      padding-top: 50px;
      padding-bottom: 70px;
   }
   .courses > h2{
      font-size: 40px;
   }
   .course-img{
      height: 135px;
   }
   .course-text{
      padding: 15px;
   }
   .course-text > *{
      font-size: 13px;
   }
   .course-text > h2{
      font-size: 17px;
      height: 34px;
      line-height: 22px;
   }
   .course-text > p > i{
      font-size: 16px;
   }
   .course-text > a{
      padding: 10px;
      margin-top: 5px;
   }
}
@media  (max-width: 640px){
   /* *{
      font-size: 13px;
   } */
   .main{
      height: 450px;
   }
   .main-text > h1{
      font-size: 50px;
      line-height: 35px;
      margin-bottom: 20px;
   }
   .main-text > p{
      font-size: 13px;
      margin-bottom: 25px;
   }
   .main-text > span{
      font-size: 11px;
      letter-spacing: 1px;
      padding: 15px 30px;
   }
   .about{
      height: 425px;
   }
   .about-text > h2 {
      height: 50px;
   }
   .about-text > p{
      font-size: 13px;
      line-height: 21px;
   }

   .school-bottom{
      margin-top: -10px;
   }
   .school-text{
      padding-top: 50px;
      padding-left: 5px;
   }
   .school-text > span{
      font-size: 75px;
   }
   .about-list img{
      width: 55px;
   }

   .courses > h2{
      font-size: 34px;
   }
   .course-img{
      height: 115px;
   }
   .course-text{
      padding: 10px;
   }
   .course-text > h2{
      font-size: 15px;
      height: 30px;
      line-height: 15px;
   }
   .course-text > *{
      font-size: 11px;
   }
   .course-text > p > i{
      font-size: 14px;
   }
   .course-text > a{
      padding: 10px;
   }
}
@media  (max-width: 550px){
   .about-list img{
      width: 50px;
      margin-right: 40px;
   }
   .about-list span{
      font-size: 13px;
      letter-spacing: 0.5px;
   }
}
@media  (max-width: 425px){
   .main-text > h1 {
      font-size: 35px;
      letter-spacing: 3px;
   }
   .main-text > p {
      font-size: 12px;
      line-height: 16px;
   }
   .about{
      height: auto;
      flex-direction: column;
      /* padding-top: 50px; */
      padding-bottom: 50px;
   }
   .about > *{
      width: 100%;
   }
   .about-text > h2{
      margin-bottom: 10px;
   }
   .about-text{
      margin-bottom: 20px;
   }

   .about-bottom > h2{
      font-size: 22px;
   }
   .about-bottom > h2 span{
      font-size: 26px;
      letter-spacing: 0;
   }
   .about-list img{
      margin-right: 25px;
   }

   .school-img{
      width: 45%;
   }
   .school-text{
      padding-top: 15px;
      padding-left: 15px;
   }
   .school-text > span{
      display: none;
   }
   .school-text > p{
      margin-bottom: 20px;
      font-size: 11px;
   }
   .bottom-block{
      width: 100%;
   }


   .course-items{
      flex-direction: column;
   }
   .course-item:nth-child(3n+2){
      margin: 0;
      margin-bottom: 30px;
   }
   .course-items > *{
      width: 100%;
      margin-bottom: 30px;
   }
   .courses > h2 {
      font-size: 40px;
   }
   .course-img {
      height: 230px;
   }
   .course-text{
     padding: 25px;
   }
   .course-text > h2{
     font-size: 22px;
     height: 52px;
     line-height: 26px;
   }
   .course-text > *{
     font-size: 16px;
   }
   .course-text > p > i{
      font-size: 20px;
   }
}
@media  (max-width: 375px){
   .main-bg{
      background-position: 18vw 0;
   }
   .main-text > h1 {
      font-size: 30px;
      line-height: 25px;
      letter-spacing: 2px;
   }
   .main-text > p {
      font-size: 11px;
      line-height: 14px;
   }
   .main-text > span {
      font-size: 10px;
      padding: 13px 17px;
   }
   .about-text > p{
      font-size: 12px;
   }
   .school-text{
      padding-top: 10px;
      padding-left: 10px;
   }
   .school-text > p{
      margin-bottom: 10px;
      font-size: 10px;
   }
   .school-bottom{
      padding: 10px;
   }
   .bottom-block{
      padding: 15px;
   }
   .circle{
      margin-bottom: 10px;
   }
   .circle-number {
      top: 23px;
      left: 27px;
      font-size: 24px;
   }
   .bottom-block > p{
      font-size: 11px;
   }
   .courses > h2 {
      font-size: 32px;
   }
   .course-img{
      height: 200px;
   }
   .course-text > *{
      font-size: 15px;
   }
}
@media  (max-width: 320px){
   .main-text > span {
      padding: 10px 15px;
   }
   .course-text{
      padding: 20px;
   }
   .course-text > *{
      font-size: 14px;
   }

   .school-text{
      padding-top: 0;
      padding-left: 7px;
   }
   .school-text > p{
      margin-bottom: 10px;
      font-size: 9px;
   }
}