
@{
    ViewData["Title"] = "ForgotPassword";
}


<link href="~/css/register.css" rel="stylesheet">


<div class="header">
    <a class="logo" href="/Home/Visitor">
        @*<img src="~/img/bilim-logo-blue.png" alt="BilimOnline">*@
        <!-- Bilim Online -->
    </a>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
        <!-- <a href="#">Кіру / Тіркелу</a> -->
    </a>
    <!-- <div class="menu"></div> -->
</div>
<div class="content">
    <form class="vhod" asp-action="ForgotPassword">
        <p>
            Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.
        </p>
    </form>
</div>