@model IEnumerable<Bilim.DbFolder.UserKurs>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Profil";
}


<link href="~/css/cabinet.css" rel="stylesheet">



<div class="content">
    <div id="courses" class="courses">
        <h2>Менің курстарым</h2>
        <div class="course-items">
            @*<p class="loader" style="padding: 25px">Загрузка...</p>*@
            @*@if (Model != null)
        {*@
            @foreach (var x in Model)
            {
                foreach (var c in ViewBag.kurses)
                {
                    if (x.KursId == c.Id)
                    {
                        <div class="course-item">
                            <div class="course-img">
                                <img src="~/kurs/@c.PhotoUrl">
                            </div>
                            <div class="course-text">
                                <h2>@c.Name</h2>
                                <p><i class="fa fa-user"></i>@c.AvtorName</p>
                                <span>@c.Info</span>
                                <a href="/Account/Video/@c.Id?videoId">Бастау</a>
                            </div>
                        </div>
                    }
                }
            }
            @*}
        else
        {
            <h1>Rhbjkakf</h1>
        }*@
        </div>
    </div>
</div>

>