@model Bilim.ViewModels.AccountViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}


<link href="~/css/register.css" rel="stylesheet">


<div class="header">
    <a class="logo" href="/Home/Visitor">
        @*<img src="~/img/bilim-logo-blue.png" alt="BilimOnline">*@
        <!-- Bilim Online -->
    </a>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
        <!-- <a href="#">Кіру / Тіркелу</a> -->
    </a>
    <!-- <div class="menu"></div> -->
</div>
<div class="content">
    <form class="vhod" asp-action="ResetPassword">
        <h2>Жүйеге тіркелу</h2>

        <input asp-for="Code" type="hidden" />
        <input type="text" asp-for="Email" placeholder="Email" required>
        <span asp-validation-for="Email" style="color: red"></span>

        <input type="password" asp-for="Password" placeholder="Жаңа құпиясөз" required>
        <span asp-validation-for="Password" style="color: red"></span>

        <input type="password" asp-for="ConfirmPassword" placeholder="Құпиясөзді қайталаңыз" required>
        <span asp-validation-for="ConfirmPassword" style="color: red"></span>

        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit">Тіркелу</button>
    </form>
</div>