<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B-USTAZ</title>

    <link rel="shortcut icon" href="/visit/hlogo.png" type="image/x-icon">

    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">

    <script src="~/js/jQuery.js"></script>
</head>
<body>
    <div class="wrap">

        @RenderBody()

        <div class="footer">
            <div class="footer-items">
                <div class="fleft">
                    <a class="logo" href="/Home/Visitor">
                        @*<img src="~/img/bilim-logo-blue.png" alt="BilimOnline">*@
                    </a>
                    <div class="contact">
                        <i class="fa fa-mobile"></i>
                        <div class="contact-phone">
                            <a href="tel:#">+7 747 664 4647</a>
                            <a href="tel:#">+7 700 691 7619</a>
                        </div>
                    </div>
                    <div class="social">
                        <a href="https://wa.me/77056644647">
                            <i class="fa fa-whatsapp"></i>
                        </a>
                        <a href="https://www.instagram.com/b_ustaz_club/">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/bustaz.kz">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://t.me/bustaz_100videosabaq">
                            <i class="fa fa-telegram"></i>
                        </a>
                        
                    </div>
                    <br />
                    <div>
                        <a href="#">
                            <img src="/icon/play-market.png" class="app-play" />
                        </a>
                        <br />
                        <a href="#">
                            <img src="~/icon/appstore.png" class="app-play" />
                        </a>
                    </div>
                    
                </div>

                

                <div class="fcenter">
                    <h3>Реквизиттер</h3>
                    <span>ЖШС «B:USTAZ»</span>
                    <span>БСН 200640004203</span>
                    <span>Телефон: +7 (700) 691 76 19</span>
                    <span>Э-адрес: info@b-ustaz.online</span>
                    <span>Мекен-жайы: Шымкент қаласы, «Алтын Орда» бизнес орталығы info@b-ustaz.online</span>
                </div>
                <div class="fright">
                    <a href="#">Құжаттарға сілтеме:</a>
                    <a href="#">Авторлық құқық жөнінде ескерту</a>
                    <a href="#">Міндеттер</a>
                    <a href="#">Серіктестік бағдарламасы</a>
                    <a href="#">Меморандум үлгісі</a>
                </div>
            </div>
            <div class="copyright">
                ©b-ustaz.online, 2020. Барлық құқықтар қорғалған.
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.burger').hover(function () {
                $('.swipe-menu').toggleClass('active-menu')
            })
            $('.close').click(function () {
                $('.swipe-menu').removeClass('active-menu')
            })
        });
    </script>
</body>
</html>
