<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bilim</title>

    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">

    <script src="~/js/jQuery.js"></script>
</head>
<body>
    <div class="wrap">

        @RenderBody()

        <div class="footer">
            <div class="footer-items">
                <div class="fleft">
                    <a class="logo" href="/Home/Visitor">
                        <img src="~/img/bilim-logo.png" alt="BilimOnline">
                    </a>
                    <div class="contact">
                        <i class="fa fa-mobile"></i>
                        <div class="contact-phone">
                            <a href="tel:#">+7 700 700 70 70</a>
                            <a href="mailto:#">+7 700 707 77 77</a>
                        </div>
                    </div>
                    <div class="social">
                        <a href="whatsapp">
                            <i class="fa fa-whatsapp"></i>
                        </a>
                        <a href="insta">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>

                

                <div class="fcenter">
                    <h3>Реквизиттер</h3>
                    <span>ЖШС «B:USTAZ»</span>
                    <span>БСН 200640004203</span>
                    <span>Телефон: +7 (700) 691 76 19</span>
                    <span>Э-адрес: info@b-ustaz.online</span>
                    <span>Мекен-жайы: Шымкент қаласы, «Алтын Орда» бизнес орталығы info@b-ustaz.online</span>
                </div>
                <div class="fright">
                    <a href="#">Құжаттарға сілтеме:</a>
                    <a href="#">Авторлық құқық жөнінде ескерту</a>
                    <a href="#">Міндеттер</a>
                    <a href="#">Серіктестік бағдарламасы</a>
                    <a href="#">Меморандум үлгісі</a>
                </div>
            </div>
            <div class="copyright">
                ©b-ustaz.online, 2020. Барлық құқықтар қорғалған.
            </div>
        </div>
    </div>
</body>
</html>
