@model IEnumerable<Bilim.DbFolder.Kurs>
@{
    ViewData["Title"] = "AllKurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/index.css" rel="stylesheet">
<link href="~/css/slider.css" rel="stylesheet">


<div class="swipe-menu">
    <div class="close">
        <span></span>
        <!-- <i class="fa fa-close"></i> -->
    </div>
    <a href="#" class="main-nav fix-active">Басты бет</a>
    <a href="#" class="about-nav">Тегін Видеосабақтар</a>
    <a href="#" class="more-nav">Қонтакты</a>
    <a href="/Account/Profil" class="swipe-login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
</div>
<div class="header">
    <div class="logo">
        <img src="~/img/bilim-logo-blue.png" alt="BilimOnline">
        <!-- Bilim Online -->
    </div>
    <div class="nav">
        <a href="/Home/Visitor" class="main-nav fix-active">Басты бет</a>
        <a href="/Home/AllVideo" class="about-nav">Тегін видеолар</a>
        <a href="/Home/Visitor" class="more-nav">Қонтакты</a>
    </div>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
    <div class="burger">
        <span></span>
        <!-- <i class="fa fa-bars"></i> -->
        <!-- <i class="fa fa-close"></i> -->
    </div>
</div>


<div class="content">
    <div id="courses" class="courses">
        <h2>Біздің курстар</h2>
        <div class="course-items">
            @foreach (var c in Model)
            {
                <div class="course-item">
                    <div class="course-img">
                        <img src="~/kurs/@c.PhotoUrl">
                    </div>
                    <div class="course-text">
                        <h2>@c.Name</h2>
                        <p><i class="fa fa-user"></i>@c.AvtorName</p>
                        @*<span>@c.Info</span>*@
                        @*<span class="isfree isfree-green">
                            <i class="fa fa-unlock"></i>
                            Тегін курс
                        </span>*@
                        <span class="isfree isfree-red">
                            <i class="fa fa-lock"></i>
                            Ақылы курс
                        </span>
                        <a href="/Home/Kurs">Курс жайлы толығырақ</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>









<script type="text/javascript">
    $(document).ready(function () {
        $('.burger').hover(function () {
            $('.swipe-menu').toggleClass('active-menu')
        })
        $('.close').click(function () {
            $('.swipe-menu').removeClass('active-menu')
        })
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 90) {
                $('.header').addClass('fix-header');
            } else {
                $('.header').removeClass('fix-header');
            }
        });
        $(window).on('scroll', function () {
            if ($(window).scrollTop() >= $('#main').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.main-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#about').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.about-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#courses').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.course-nav').addClass('fix-active');
            }
        });
        $('.main-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.main-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#main').offset().top
            }, 1000);
            return false;
        });
        $('.about-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.about-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#about').offset().top
            }, 1000);
            return false;
        });
        $('.course-nav, .select-btn').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.course-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#courses').offset().top
            }, 1000);
            return false;
        });

        $(function () {
            $('.slider').rbtSlider({
                'height': '100%',
                'dots': true,
                'arrows': false,
                'auto': true,
            });
        });
    });
</script>