
@{
    ViewData["Title"] = "Kurs";
}

<link href="~/css/courseView.css" rel="stylesheet">

<div class="swipe-menu">
    <div class="close">
        <span></span>
    </div>
    <a href="#" class="main-nav fix-active">Басты бет</a>
    <a href="#" class="teacher-nav">Спикер жайлы</a>
    <a href="#" class="about-nav">Курс жайлы</a>
    <a href="#" class="more-nav">Қосымша</a>
    <a href="/Account/Profil" class="swipe-login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
</div>
<div class="header">
    <div class="go-back">
        <i class="fa fa-arrow-left"></i>
        <a class="go-back" href="/Home/Visitor#courses">Курстар</a>
        <!-- <img src="img/logo.png" alt="BeautyOnline"> -->
        <!-- Beauty Online -->
    </div>
    <div class="nav">
        <a href="#" class="main-nav fix-active">Басты бет</a>
        <a href="#" class="teacher-nav">Спикер жайлы</a>
        <a href="#" class="about-nav">Курс жайлы</a>
        <a href="#" class="packages-nav">Пакеттер</a>
    </div>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
        <!-- <a href="#">Кіру / Тіркелу</a> -->
    </a>
    <div class="burger">
        <span></span>
    </div>
</div>
<div class="content">
    <div id="main" class="main">
        <div class="main-text">
            <h2>Cұлулық сырлары</h2>
            <p>Научитесь самостоятельно создавать макияж любой сложности за 7 уроков</p>
            <a href="#" class="btn">Үйрену</a>
        </div>
        <div class="main-bg" style="background-image: url(/img/course-main.png);"></div>
    </div>
    <div id="teacher" class="teacher">
        <div class="teacher-img">
            <img src="~/img/teacher.jpg">
        </div>
        <div class="teacher-text">
            <h2>Пәленшеева Түгенше</h2>
            <p>
                Online обучение - это ключ к успеху в современном мире.
                Именно поэтому я предлагаю уникальный и, пожалуй,
                самый удобный формат обучения в сфере beauty.
                Получайте новые знания и достигайте своих целей находясь
                в любой точке мира в комфортной для вас обстановке.
            </p>
        </div>
    </div>

    <div id="about" class="about">
        <div class="about-course">
            <div class="course-block">
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <h2>КУРС КІМДЕРГЕ АРНАЛАДЫ?</h2>
                <ul>
                    <li>15 минутта өзін бояндырып үйренгісі келетін кез-келген қыз-келіншектерге;</li>
                    <li>Кез-келген жаста әдемі болып, бет күтіміне ерекше мән беретін жандарға;</li>
                    <li>Салонға жиі ақша құртпау үшін, техникалары мен оңай жолын үйренгісі келетін әйел адамдарға арналады.</li>
                    <li>Салонға жиі ақша құртпау үшін, техникалары мен оңай жолын үйренгісі келетін әйел адамдарға арналады.</li>
                </ul>
            </div>
            <div class="course-block">
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <h2>КУРС ҚАЛАЙ ӨТЕДІ?</h2>
                <ul>
                    <li>Жабық инстаграм парақшада сторис, пост, видео, IGTV-толық форматында 30-40 минуттық видео-сабақтар салынады.</li>
                    <li>Арнайы Тапсырмалар беріліп тексеріледі</li>
                    <li>Бонус кітапша "Сұлулық Сырлары" беріледі</li>
                    <li>Cоңғы күні Тікелей эфирде сұрақ-жауап болады</li>
                </ul>
            </div>
        </div>
        <div class="learn">
            <h2>Курс барысында сіз:</h2>
            <div class="learn-blocks">
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>
                        Узнаете все о самых актуальных и востребованных техниках в
                        макияже и научитесь работать с различными особенностями:
                        нависшее веко, проблемная кожа, лифтинг макияж
                    </p>
                </div>
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>
                        Благодаря обширному блоку самой актуальной теоретической
                        информации научитесь на профессиональном уровне разбираться
                        в многообразии косметических продуктов
                    </p>
                </div>
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>Приобретете новую профессию и расширите до максимума свои знания и навыки в мире макияжа</p>
                </div>
            </div>
        </div>
        <div class="subject">
            <h2>Курс тақырыптары<span></span><p></p></h2>
            <ul>
                <li>Тақырып 1</li>
                <li>Тақырып 2</li>
                <li>Тақырып 3</li>
                <li>Тақырып 4</li>
                <li>Тақырып 5</li>
            </ul>
        </div>
    </div>

    <div class="packages">
        <h1>Варианты обучения</h1>
        <div class="packs">
            <div class="pack">
                <div class="pack-head">
                    <h3>Пакет «Selfmade»</h3>
                    <p>для тех, кто хочет обучиться самостоятельно</p>
                </div>
                <div class="pack-body">
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Учебные материалы в формате видеоуроков FullHD</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Личный кабинет с постоянным доступом к материалам обучения</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Раздаточный материал со списком косметики и инструментами</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Рабочая тетрадь для конспектирования и записей</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Возможность занятий в любое удобное время и месте</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Выдача сертификата после завершения обучения</span>
                    </p>
                </div>
                <div class="pack-price">
                    <span class="old-price">6 990 тг</span>
                    <span class="new-price">4 490 тг</span>
                </div>
                <a class="start-btn" href="#">Бастау</a>
                <p class="sale-text">действует скидка 30% до 12 июля</p>
            </div>
            <div class="pack">
                <div class="pack-head">
                    <h3>Пакет «Хочу Результат!»</h3>
                    <p>с ежедневной поддержкой куратора</p>
                </div>
                <div class="pack-body">
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Учебные материалы в формате видеоуроков FullHD</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Личный кабинет с постоянным доступом к материалам обучения</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Раздаточный материал со списком косметики и инструментами</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Рабочая тетрадь для конспектирования и записей</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Возможность занятий в любое удобное время и месте</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Выдача сертификата после завершения обучения</span>
                    </p>
                </div>
                <div class="plus-body">
                    <p>
                        <i class="fa fa-plus"></i>
                        <span>Индивидуальная поддержка куратора до результата</span>
                    </p>
                    <p>
                        <i class="fa fa-plus"></i>
                        <span>Уникальные условия для обучения в других курсах</span>
                    </p>
                </div>
                <div class="pack-price">
                    <span class="old-price">8 990 тг</span>
                    <span class="new-price">5 990 тг</span>
                </div>
                <a class="start-btn" href="#">Бастау</a>
                <p class="sale-text">действует скидка 30% до 12 июля</p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.burger').hover(function () {
            $('.swipe-menu').toggleClass('active-menu')
        })
        $('.close').click(function () {
            $('.swipe-menu').removeClass('active-menu')
        })
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 90) {
                $('.header').addClass('fix-header');
            } else {
                $('.header').removeClass('fix-header');
            }
        });
        $(window).on('scroll', function () {
            if ($(window).scrollTop() >= $('#main').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.main-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#teacher').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.teacher-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#about').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.about-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('.packages').offset().top - 100) {
                $('a.fix-active').removeClass('fix-active');
                $('.packages-nav').addClass('fix-active');
            }
        });

        $('.main-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.main-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#main').offset().top
            }, 1000);
            return false;
        });
        $('.teacher-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.teacher-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#teacher').offset().top
            }, 1000);
            return false;
        });
        $('.about-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.about-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#about').offset().top
            }, 1000);
            return false;
        });
        $('.packages-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.packages-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('.packages').offset().top - 100
            }, 1000);
            return false;
        });
    });
</script>
