@model IEnumerable<Bilim.DbFolder.Kurs>

@{
    ViewData["Title"] = "Visitor";
    @*int x=0;*@
}
<link href="~/css/index.css" rel="stylesheet">

<div class="swipe-menu">
    <div class="close">
        <span></span>
        <!-- <i class="fa fa-close"></i> -->
    </div>
    <a href="#" class="main-nav fix-active">Басты бет</a>
    <a href="#" class="about-nav">Біз жайлы</a>
    <a href="#" class="course-nav">Курстар</a>
    <a href="#" class="more-nav">Контакты</a>
    <a href="/Account/Profil" class="swipe-login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user-o"></i>
    </a>
</div>
<div class="header">
    <div class="logo">
        @*<img src="~/img/bilim-logo-blue.png" alt="BilimOnline">*@
        <!-- Bilim Online -->
    </div>
    <div class="nav" >
        <a href="#" class="main-nav fix-active" style="color:white!important;">Басты бет</a>
        <a href="#" class="about-nav" style="color:white!important;">Біз жайлы</a>
        <a href="#" class="course-nav" style="color:white!important;">Курстар</a>
        <a href="#" class="more-nav" style="color:white!important;">Контакты</a>
    </div>
    <a href="/Account/Profil" class="login" >
        <span style="color:white!important;">Жеке кабинет</span>
        <i class="fa fa-user-o" style="color:white!important;"></i>
    </a>
    <div class="burger">
        <span></span>
    </div>
</div>
<div class="content">
    <div id="main" class="main">
        <div class="main-text">
            <h1 style="color:white!important;">B:USTAZ <br> Online</h1>
            <p>Мектеп ұстаздарының кәсіби біліктілігін арттыруға арналған  онлайн-курстар</p>
            <span class="select-btn" >Курсты таңдау</span>
        </div>
    </div>
    <div id="about" class="about">
        <div class="about-text">
            <h2>B:USTAZ бұл:</h2>
            <div class="about-item">
                <span class="check-img">
                    <img src="~/visit/check-about.png" />
                </span>
                <div class="about-item-text">
                    <h3>Кәсіби біліктілікті арттыру палтформасы</h3>
                    <p>
                        Төменгі, орта және жоғары мектеп ұстаздарының замануи оқуыту әдістері мен жаңа технологиялық құралдарды үйрену.
                    </p>
                </div>
            </div>
            <div class="about-item">
                <span class="check-img">
                    <img src="~/visit/check-about.png" />
                </span>
                <div class="about-item-text">
                    <h3>Қазақ тіліндегі сапалы онлайн курстар</h3>
                    <p>
                        Қазақ тіліндегі сапалы онлайн курсыңызды таңдап кез-келген уақытта шеберлігіңізді арттырыңыз
                    </p>
                </div>
            </div>
            <div class="about-item">
                <span class="check-img">
                    <img src="~/visit/check-about.png" />
                </span>
                <div class="about-item-text">
                    <h3>Қосымша табыс табу мүмкіндігі</h3>
                    <p>
                        Біздің онлайн платформамызда өзіңіздің құнды тәжірибеңізбен бөлісіп, 400000 теңгеге дейін қосымша табыс табыңыз.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-img">
            <img src="/visit/avtor.jpg" alt="">
        </div>
    </div>
    <div class="school" style="background-image:url('/visit/2.jpg')">
        <div class="school-block">
            <div class="school-text">
                <p style="padding-bottom: 30px;">«B:USTAZ» Online сандармен</p>
            </div>
        </div>
        <div class="school-bottom">
            <div class="bottom-block">
                <span class="circle">
                    <span class="circle-number">
                           598
                    </span>
                </span>
                <p>Онлайн курс оқыған ұстаздар</p>
            </div>
            <div class="bottom-block">
                <span class="circle">
                    <span class="circle-number">
                        5844
                    </span>
                </span>
                <p>Тегін онлайн сабақтарды қарап жатқан ұстаздар</p>
            </div>
            <div class="bottom-block">
                <span class="circle">
                    <span class="circle-number">
                        365
                    </span>
                </span>
                <p>Біліктілігін растайтын сертификат алған ұстаздар</p>
            </div>
            <div class="bottom-block">
                <span class="circle">
                    <span class="circle-number">
                        1562
                    </span>
                </span>
                <p>Тегін вебинарға қатысқан ұстаздар</p>
            </div>
        </div>
    </div>
    <div class="about-bottom">
        <h2 style="        color: black !important;   text-align: center;"><span style="color:black!important;text-align:center;">«B:USTAZ» Online</span>  артықшылықтары</h2>
        <div class="about-list-block">
            <div class="about-list">
                <div>
                    <img src="~/img/icon6/111.svg" style="width:76px!important;">
                    <span>Қазақстанның білікті ұстаздарымен тәжірибе алмасу</span>
                </div>
                <div>
                    <img src="~/img/icon6/222.svg">
                    <span>Өте оңай әрі ыңғайлы платформа арқылы 24/7 кез-келген уақытта білім ала-аласыз</span>
                </div>
                <div>
                    <img src="~/img/icon6/333.svg">
                    <span>Әлемнің кез-келген жерінен кез-келген құрылғының көмегімен қолжетімді</span>
                </div>
            </div>
            <div class="about-list">
                <div>
                    <img src="~/img/icon6/444.svg">
                    <span>Әрбір курстан өз біліміңізді растайтын сертифкат алу мүмкіндігі бар</span>
                </div>
                <div>
                    <img src="~/img/icon6/555.svg">
                    <span>Тегін сынама видеосабақтар және қолжетімді бағадағы ақылы курстар</span>
                </div>
                <div>
                    <img src="~/img/icon6/666.svg">
                    <span>Android және iOS ыңғайлы мобильді қосымша арқылы білім алу</span>
                </div>
            </div>
        </div>
    </div>
    <div id="courses" class="courses" style="background-image:url('/visit/3.jpg')">
        <h2>Онлайн-курстар</h2>
        <div class="course-items">
            @foreach (var c in Model)
            {
                @*x++;
                if (x < 7)
                {*@
                    <div class="course-item">
                        <div class="course-img">
                            <img src="~/kurs/@c.BannerUrl">
                        </div>
                        <div class="course-text">
                            <h2>@c.Name</h2>
                            <p><i class="fa fa-user"></i>@c.AvtorName</p>
                            @*<span>@c.Info</span>*@
                            @*<span class="isfree isfree-green">
                                    <i class="fa fa-unlock"></i>
                                    Тегін курс
                                </span>*@

                            @*<span class="isfree isfree-red">
                                <i class="fa fa-lock"></i>
                                Ақылы курс
                            </span>*@
                            <a href="/Home/Kurs/@c.Id">Курс жайлы толығырақ</a>
                        </div>
                    </div>
                @*}*@
            }
            
        </div>
        <a href="~/Home/AllKurs" class="all-course-btn">Барлық курстар</a>
    </div>
</div>

<script src="~/js/visitor.js"></script>
<script>
    $(document).ready(function () {
        $(window).on('scroll', function () {
            if ($(window).scrollTop() >= $('#main').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.main-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#about').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.about-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#courses').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.course-nav').addClass('fix-active');
            }
        });
    })
</script>